<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Buchanan's</string>
					<key>answerID</key>
					<string>5aa23bb0-e8f9-487f-915f-b28950728bae</string>
					<key>childrenQuestions</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>4</integer>
					</array>
				</dict>
				<dict>
					<key>answer</key>
					<string>Chivas 12 Year Old</string>
					<key>answerID</key>
					<string>86a77ef2-305d-4fb1-bc22-1cbf4981eca8</string>
					<key>childrenQuestions</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
					</array>
				</dict>
				<dict>
					<key>answer</key>
					<string>Other Chivas</string>
					<key>answerID</key>
					<string>ac8faeed-1ee9-4ff1-ab1e-e2be1b4ece10</string>
					<key>childrenQuestions</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
					</array>
				</dict>
				<dict>
					<key>answer</key>
					<string>Crown Royal</string>
					<key>answerID</key>
					<string>c1fe00c3-eb4a-410e-afef-e450bcef7d3b</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Crown Royal Black</string>
					<key>answerID</key>
					<string>c1d136c2-889c-4899-816a-cd399ca08e35</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Dewar's White Label</string>
					<key>answerID</key>
					<string>846d6ca4-8197-498a-866e-396c52ca077b</string>
					<key>childrenQuestions</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>4</integer>
					</array>
				</dict>
				<dict>
					<key>answer</key>
					<string>Dewar's 12 Year Old</string>
					<key>answerID</key>
					<string>d382f4e2-79cd-407e-9d06-709fe0aafdfe</string>
					<key>childrenQuestions</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>4</integer>
					</array>
				</dict>
				<dict>
					<key>answer</key>
					<string>Johnnie Walker Red</string>
					<key>answerID</key>
					<string>43bc642c-39d5-4b15-a84d-b9f873a4e1c5</string>
					<key>childrenQuestions</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>4</integer>
					</array>
				</dict>
				<dict>
					<key>answer</key>
					<string>Johnnie Walker Black</string>
					<key>answerID</key>
					<string>32f9834c-5b94-449d-a6a1-5465d1d5221d</string>
					<key>childrenQuestions</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>4</integer>
					</array>
				</dict>
				<dict>
					<key>answer</key>
					<string>Jack Daniel's</string>
					<key>answerID</key>
					<string>b84986db-2545-4b27-9f23-569fd7f65fce</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>OTHER</string>
					<key>answerID</key>
					<string>b84986db-2545-4b27-9f23-569fd7f65fce</string>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>greeting</key>
			<string>Please take a moment to answer a few questions so we can provide you with more relevant information.</string>
			<key>max</key>
			<integer>3</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Which of the following brands of Scotch Whisky do you drink most often?
(Choose up to 3)</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Less than 2 years ago</string>
					<key>answerID</key>
					<string>0178308a-16a4-43b2-95c3-4f600616a558</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>2-5 years ago</string>
					<key>answerID</key>
					<string>b9f93c7b-214d-49c8-acca-992dd2050d3d</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>More than 5 years ago</string>
					<key>answerID</key>
					<string>dd6b9a82-e001-4463-9fd1-c6a66098973e</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<true/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>How long have you been drinking Scotch?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Once a week or more often</string>
					<key>answerID</key>
					<string>a2de53de-72b0-4b57-83fc-a90fd5117dfa</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>A few times a month</string>
					<key>answerID</key>
					<string>02ecaff2-2f28-4e52-a7b8-4397bf15233d</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Once every month or two</string>
					<key>answerID</key>
					<string>21fc032c-485f-4da7-bd37-8b47123532b3</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>A few times a year</string>
					<key>answerID</key>
					<string>b0708a54-d229-4c08-a7f2-b7ae07f093ed</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<true/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>How often do you drink Scotch Whisky?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>It's the only brand I buy</string>
					<key>answerID</key>
					<string>6b146a45-9403-402f-83ba-74d9eb669f72</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>It's the brand I prefer to buy, but I also buy others</string>
					<key>answerID</key>
					<string>b2462984-52ef-4af0-aea7-9c27066d9eef</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>It's one of a number of brands I buy</string>
					<key>answerID</key>
					<string>94dabb42-3704-404c-98c3-0672e46077cf</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>It's not one of my regular brands, but one I might consider</string>
					<key>answerID</key>
					<string>07409bc7-d58d-4593-9de6-d11471576c0b</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I would never buy it</string>
					<key>answerID</key>
					<string>eeb1bcc8-8f84-42c2-99de-1bce392a7f39</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Which statement best describes how you feel about Chivas Regal?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>512</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>I like to experiment with new brands of Scotch</string>
					<key>answerID</key>
					<string>57abfc8f-9d12-40f0-b2e8-d33326cc724d</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I prefer to stay with the brand(s) of Scotch that I currently drink</string>
					<key>answerID</key>
					<string>62f18966-9b6c-4447-b6a1-50efe10429be</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<true/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Which statement best describes how you feel about Scotch?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Bar or restaurant manager</string>
					<key>answerID</key>
					<string>66ad9d0e-e5dd-475c-a0bc-c60a1f972725</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Bar and restaurant server</string>
					<key>answerID</key>
					<string>dbd5183e-f057-4203-9ed9-1d194401b0e9</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Bar, or club/restaurant owner</string>
					<key>answerID</key>
					<string>82ea805a-1560-4d59-8a8a-f305a8525618</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>None of the above</string>
					<key>answerID</key>
					<string>ecc03087-1fdf-44ab-bc99-3eac65c4f938</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>If you work for a licensed account selling alcohol please select one of these:</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>English</string>
					<key>answerID</key>
					<string>9a035724-6446-4f52-a117-d9e4ce04f0e5</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Spanish</string>
					<key>answerID</key>
					<string>a65d28d9-5b18-4e33-aeca-2bd4f8283fef</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>We've enjoyed talking to you. We hope to chat again real soon.
What is your language preference for future communications?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
